<!-- Primary template that will get shown when widget loads -->

<script type="text/ng-template" id="meetMain.html">
    <div ng-app="portalApp" ng-controller="meetCtrl">
        <div class="input-group">
            <input id="search" type="text" class="form-control" placeholder="User ID" aria-describedby="basic-addon1" ng-model="inputuser.value"/>
            <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addToList()">Add</button>
  </span>
        </div>
        <widget-list list="item in model">
            <widget-row>
                <widget-cell>
                    <widget-row>
                        <widget-cell fill>
                            {{item.title}}
                        </widget-cell>
                        <widget-cell clickable ng-click="remove(item)">
                            <widget-icon name="cancel-circled"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-cell>
            </widget-row>
        </widget-list>
      <button id="compare-btn" class="btn btn-default" type="button" ng-click="showTimeList()">Compare</button>
    </div>
</script>

<script type="text/ng-template" id="listTimes.html">
    <widget-list>
    </widget-list>
</script>